@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 레이아웃 스타일 */
body {
    margin: 0;
    font-family: 'GmarketSansMedium';
    background-color: #ededff;
    color: #333;
    text-align: center;
}

h1.home {
    font-size: 3em;
    color: #4c63af; /* 시각적인 포인트 색상 */
    margin-top: 50px;
    text-shadow: 20px;
}
.textexplain{
    font-size: small;
    color:#2b3b6f;
    text-shadow: 30%;
}

.textexplain2{
    font-size: smaller;
    color:#2b3b6f;
    text-shadow: 30%;
}
/* 전체 메뉴의 스타일 */
a.menu {
    display: block;
    padding: 10px 20px;
    background-color: #4c63af; /* 김이레님이 좋아하는 초록색 */
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

a.menu:hover {
    background-color: #4c63af;
}

/* 네비게이션 메뉴의 스타일 */
nav.textmenu {
    display: flex;
    justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 10px;
    background-color: #ededff;
    border-radius: 5px;
    gap: 10px; /* 각 링크 간 간격 조정 */
}

/* 링크 스타일 */
nav.textmenu a {
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: center;
    border-radius: 4px;
}

/* hover 효과 */
nav.textmenu a:hover {
    color: white;
    background-color: #4c63af;
    transform: scale(1.05); /* hover 시 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 */
}

/* 마지막 빈 span은 숨김 처리 */
nav.textmenu span {
    display: none;
}

.row {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}

.row div {
    margin: 0 15px;
}
.space{
    height: 150px;
}
iframe {
    scrollbar-color: #f8f5d6;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

iframe:hover {
    transform: scale(1.05);
}
li {
    font-family: 'GmarketSansMedium';
    font-size: 1.2em;
    color: #333;
    list-style-type: none;
    margin-top: 10px;
}

li a {
    font-family: 'GmarketSansMedium';
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 1.2em;
}


li a:hover {
    color: #29782b;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
}

/* 모바일 반응형 디자인 */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    iframe {
        width: 90%;
        height: 180px;
    }
}
