@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 전체적인 body 스타일 */
body {
    font-family: 'iceJaram-Rg';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden;
}

/* 이미지를 가로로 나열하는 부모 컨테이너 */
.overlap-container {
    display: flex;
    gap: 10px; /* 이미지 간 간격 */
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100%;
    margin: auto;
}

/* 각 이미지와 설명이 들어가는 컨테이너 */
.container {
    text-align: center;
    transition: transform 0.5s ease;
    cursor: pointer;
}

/* 이미지 컨테이너 */
.container img {
    width: 200px; /* 너비를 고정 */
    height: 300px; /* 높이를 고정 */
    object-fit: cover; /* 이미지 비율을 유지하며 잘리도록 설정 */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
}


/* 이미지 호버 효과 */
.container img:hover {
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2) saturate(1.5);
}

/* 설명글이 들어가는 div */
.description {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    max-width: 250px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

/* 설명이 보일 때 */
.show-description {
    opacity: 1;
}

/* p 요소의 왼쪽 여백 */
.p {
    margin-left: 5px;
}
.gallery {
    display: flex;
    align-items: center;
    overflow: hidden;
}