@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 전체적인 body 스타일 */
body {
    font-family: 'iceJaram-Rg';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden; /* 화면을 넘어가는 요소들 감추기 */
}

/* 가로로 겹치는 이미지를 위한 부모 컨테이너 */
.overlap-container {
    position: relative;
    width: 1000px; /* 부모 컨테이너 너비 */
    height: 350px; /* 부모 컨테이너 높이 */
    margin: auto;
}

/* 각 이미지와 설명이 들어가는 컨테이너 */
.container {
    position: absolute; /* 절대 위치로 배치 */
    top: 0;
    left: 0; /* 기본 위치를 0으로 */
    margin: 0;
    text-align: center;
    transition: left 1s ease-in-out; /* 이동 애니메이션 */
}

/* 이미지 스타일 */
.container img {
    width: 250px; /* 고정 너비 */
    height: 350px; /* 고정 높이 */
    object-fit: cover; /* 이미지가 컨테이너 크기에 맞춰 자름 */
    border-radius: 20px; /* 둥근 모서리 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
}

/* 이미지 호버 효과 */
.container img:hover {
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2) saturate(1.5);
}

/* 설명글이 들어가는 div */
.description {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    max-width: 250px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

/* 설명이 보일 때 */
.show-description {
    opacity: 1;
}

/* 가로로 겹치는 이미지를 위해 left와 z-index 조정 */
.container:nth-child(1) {
    z-index: 3;
    left: 0; /* 첫 번째 사진의 위치 */
}
.container:nth-child(2) {
    z-index: 2;
    left: 150px; /* 두 번째 사진의 위치 (겹침) */
}
.container:nth-child(3) {
    z-index: 1;
    left: 300px; /* 세 번째 사진의 위치 (겹침) */
}


.p{
    margin-left:5px;
}
